# Android SDK files
android-sdk/
android-tools.zip

# Build files
/app/build/
.gradle/
/local.properties

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Windows specific
*.exe
*.msi
*.tmp
desktop.ini
$RECYCLE.BIN/

# Large downloads
*.zip